body {
    margin: 0;
}

h1 {
    font-weight: 500;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    background-color: #577590;
    padding: 10px;
    margin: 0px;
    flex-grow: 1;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3CA40;
}

.player-name {
    background-color: #F2A541;
    text-align: center;
    font-weight: 700;
}

.cpu-name {
    background-color: #F08A4B;
    text-align: center;
    font-weight: 700;
}

#player-buttons-container, #cpu-buttons-container {
    background-color: #F2A541;
    display: flex;
    justify-content: center;
    align-items: center;
}

    #cpu-buttons-container { 
        background-color: #F08A4B;
    }

.button {
    padding: 0px;
    margin: 10px;
}

#footer {
    display: flex;
    justify-content: space-around;
    background-color: #577590;
    flex-grow: 2;
}

.scores {
    margin: 25px;
    font-size: 1.2em;
}

