.container {
    background-color: grey;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
}

#spacer {
    height: 20vh;
}

#title {
    text-align: center;
    color: whitesmoke;
}

#player-buttons-container, #cpu-buttons-container {
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

#cpu-buttons-container > .button {
    background-color: lightgray;
}

.button {
    background-color: white;
    padding: 0px;
    margin: 10px;
    height: 100px;
}

#footer {
    height: 20vh;
}

