body {
    margin: 0;
}

h1 {
    font-weight: 500;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    background-color: #577590;
    padding: 10px;
    margin: 0px;
    flex-grow: 1;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3CA40;
}

.player-name {
    background-color: #F2A541;
    text-align: center;
    font-weight: 700;
}

.cpu-name {
    background-color: #F08A4B;
    text-align: center;
    font-weight: 700;
}

#player-buttons-container, #cpu-buttons-container {
    background-color: #F2A541;
    display: flex;
    justify-content: center;
    align-items: center;
}

    #cpu-buttons-container { 
        background-color: #F08A4B;
    }

.button {
    border: 3px solid transparent;
    padding: 0px;
    margin: 10px;
}

#footer {
    display: flex;
    justify-content: space-around;
    background-color: #577590;
    flex-grow: 2;
}

.scores {
    margin: 25px;
    font-size: 1.2em;
    font-weight: 600;
    color: white;
}

/* selected boxes */
    .selected-tie {
        transition: all .25s ease-in-out;
        transform: scale(1.25);
        border-color:yellow;
    }
    .selected-win {
        transition: all .5s ease-in-out;
        transform: scale(1.25);
        border-color: green;
    }
    .selected-lose {
        transition: all .5s ease-in-out;
        /* transform: scale(1.25); */
        border-color: red;
    }